<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="APP_NAME">paprika</Property>
		<Property name="LOG_PATH">${env:PAPRIKA_LOG_PATH:-logs}</Property>
		<Property name="LOG_ARCHIVE_PATTERN">${APP_NAME}-*.log.gz</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile"
			fileName="${LOG_PATH}/${APP_NAME}.log"
			filePattern="${LOG_PATH}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d{dd.MM.yyyy HH:mm:ss,SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="30">
				<Delete basePath="${LOG_PATH}" maxDepth="1">
					<IfFileName glob="${LOG_ARCHIVE_PATTERN}" />
					<IfLastModified age="7d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<Async name="Async">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="Console" />
		</Async>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Async" />
		</Root>
	</Loggers>
</Configuration>
